/*------------------------------------------------*/
/*------------------[NEWSLETTER]------------------*/
/*------------------------------------------------*/
.Newsletter {
	background: $bg-color-containers;
	float: left;
	width: 32.9%;
	margin-left: .45rem;
	margin-bottom: .5rem;
	@media (max-width: $tablet-width) {
		width: 60%;
		margin-top: .5rem;
		min-height: 165px;
	}
	@media (max-width: $smaller-width) {
		width: 100%;
		margin: .5rem 0 0 0;
	}

	span {
		background: $main-color-light;
		width: 100%;
		display: block;
		padding: .6rem;
	}

	h3 {
		margin: 0;
		text-align: center;
		color: #4A4A4A;
		padding: .6rem 0;
	}

	.email-nl {
		float: left;
		width: 60%;
		margin: .8rem 1.5rem;
	}

	.button-nl {
		float: left;
		/*width: 30%;*/
		text-align: center;
		background: $block-details;
		color: white;
		margin: .8rem 0;
		padding: .2rem .8rem;
	}
}
