/*------------------------------------------------*/
/*---------------[COVER SLIDER]-------------------*/
/*------------------------------------------------*/
body {
  background: peru !important;
}

.CoverSlider {
  width: 800px;
  background: peru;
}
