/*------------------------------------------------*/
/*------------------[SIDEBAR]---------------------*/
/*------------------------------------------------*/
.Sidebar {
  width: 30%;
  float: left;
  display: block;
  background: peru;
}
